*.iml
.gradle
.idea
/.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/assets/
src/main/java/com/softuvo/ipundit/adapter/
src/main/java/com/softuvo/ipundit/api/
src/main/java/com/softuvo/ipundit/dtos/
src/main/java/com/softuvo/ipundit/fragments/
src/main/res/drawable/
